In [2]:
%pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [50]:
file_path = "data/drop-out.csv"

In [51]:
data = pd.read_csv(file_path, delimiter=";")
print("We have successfully loaded the data!")

We have successfully loaded the data!

In [52]:
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [53]:
columns_to_remove = [
    "Application mode",
    "Application order",
    "Course",
    "Nacionality",
    "Mother's occupation",
    "Father's occupation",
    "Mother's qualification",
    "Father's qualification",
    "Previous qualification",
    "Curricular units 1st sem (credited)",
    "Curricular units 1st sem (enrolled)",
    "Curricular units 1st sem (evaluations)",
    "Curricular units 1st sem (approved)",
    "Curricular units 1st sem (without evaluations)",
    "Curricular units 2nd sem (credited)",
    "Curricular units 2nd sem (enrolled)",
    "Curricular units 2nd sem (evaluations)",
    "Curricular units 2nd sem (approved)",
    "Curricular units 2nd sem (without evaluations)",
]

for column in columns_to_remove:
    data.drop(column, inplace=True, axis=1)

In [54]:
data.to_csv("data/drop-out-new.csv", index=False)
print("We have successfully saved the data!")

We have successfully saved the data!

In [3]:
data = pd.read_csv("data/drop-out-new.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Marital status                    4424 non-null   int64
 1   Daytime/evening attendance	       4424 non-null   int64
 2   Previous qualification (grade)    4424 non-null   float64
 3   Admission grade                   4424 non-null   float64
 4   Displaced                         4424 non-null   int64
 5   Educational special needs         4424 non-null   int64
 6   Debtor                            4424 non-null   int64
 7   Tuition fees up to date           4424 non-null   int64
 8   Gender                            4424 non-null   int64
 9   Scholarship holder                4424 non-null   int64
 10  Age at enrollment                 4424 non-null   int64
 11  International                     4424 non-null   int64
 12  Curricular units 1st sem (grade)  4424 non-null   float64
 13  Curricular units 2nd sem (grade)  4424 non-null   float64
 14  Unemployment rate                 4424 non-null   float64
 15  Inflation rate                    4424 non-null   float64
 16  GDP                               4424 non-null   float64
 17  Target                            4424 non-null   object
dtypes: float64(7), int64(10), object(1)
memory usage: 622.3+ KB

In [4]:
# find categorical variables
categorical = [var for var in data.columns if data[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :\n\n', categorical)

There are 1 categorical variables

The categorical variables are :

 ['Target']

There are no categorical variables excluding the Target which we are trying to find

In [5]:
X = data.drop(['Target'], axis=1)
y = data['Target']

In [6]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [7]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((3096, 17), (1328, 17))

In [8]:
cols = X_train.columns

In [9]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [10]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [11]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [12]:
X_train.head()

,Marital status,Daytime/evening attendance\t,Previous qualification (grade),Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (grade),Curricular units 2nd sem (grade),Unemployment rate,Inflation rate,GDP
0,3.0,-1.0,0.006667,-1.843427,-1.0,0.0,1.0,-1.0,0.0,0.0,5.000000,0.0,-5.138889,-4.722581,-0.488889,0.000000,0.914040
1,0.0,0.0,-1.000000,-0.833087,0.0,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,-0.451389,-0.774194,-0.777778,0.521739,0.000000
2,0.0,0.0,-0.133333,0.490399,0.0,0.0,0.0,0.0,0.0,1.0,-0.166667,0.0,1.111111,0.825806,0.288889,-0.391304,0.421203
3,0.0,0.0,-0.133333,-0.047267,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.399573,0.862673,0.977778,0.608696,-1.255014
4,0.0,0.0,0.006667,-0.673560,-1.0,0.0,0.0,0.0,0.0,0.0,1.333333,0.0,-0.659722,-0.851613,0.622222,-0.739130,0.134670

In [13]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

GaussianNB()

In [14]:
y_pred = gnb.predict(X_test)

y_pred

array(['Graduate', 'Dropout', 'Graduate', ..., 'Enrolled', 'Graduate',
       'Graduate'], dtype='<U8')

In [15]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.6431

In [16]:
y_pred_train = gnb.predict(X_train)

y_pred_train

array(['Dropout', 'Graduate', 'Graduate', ..., 'Graduate', 'Graduate',
       'Graduate'], dtype='<U8')

In [17]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.6618

In [19]:
# check class distribution in test set

y_test.value_counts()

Target
Graduate    667
Dropout     428
Enrolled    233
Name: count, dtype: int64

In [20]:
# check null accuracy score

null_accuracy = (667/(667+428+233))

print('Null accuracy score: {0:0.4f}'. format(null_accuracy))

Null accuracy score: 0.5023

In [22]:
# Print the Confusion Matrix and slice it into four pieces

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

print('Confusion matrix\n\n', cm)

Confusion matrix

 [[281  31 116]
 [ 50  11 172]
 [ 63  42 562]]