# Using deck_stats.csv

Now that we have the decks stored in the CSV, we can now search through it and get whatever information you want from it.  
For example:  
- We can use the CSV to find the best decks with the your chosen cards
- Get the best win-rate of all the decks
- Get the best usage rate of all the decks

<sub><sup>Please note that this notebook was made with the help of ChatGPT</sup></sub>

In [2]:
%pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
file_path = "out/deck_stats.csv"

In [4]:
df = pd.read_csv(file_path)

In [5]:
card_data = pd.read_csv("card_data.csv")
valid_card_names = list(map(str.lower,card_data['team.card1.name']))

Library to check if the card names are similar

In [6]:
import difflib

In [7]:
# Function to search for rows containing a specific card name
def search_by_card_name(card_name):
    # Use the 'any' method along axis=1 to check if any column contains the card name
    result_df = df[df.apply(lambda row: card_name.lower() in row.str.lower().values, axis=1)]
    return result_df

# Take user input for the card name and ensure it is valid
while True:
    card_name_to_search = input("Enter the card name: ").lower()
    if card_name_to_search in valid_card_names:
        break
    else:
        # Provide suggestions for similar card names
        suggestions = difflib.get_close_matches(card_name_to_search, valid_card_names)
        
        if suggestions:
            print(f"Invalid card name. Did you mean one of these? {', '.join(suggestions)}")
        else:
            print("Invalid card name. Please enter a valid card name.")

result = search_by_card_name(card_name_to_search)

In [8]:
result

,Card_1,Card_2,Card_3,Card_4,Card_5,Card_6,Card_7,Card_8,Wins,Losses,Ties,Usage,Win Rate,Usage Rate
183,Giant,Rage,Mini P.E.K.K.A,Dark Prince,Sparky,Minion Horde,Elixir Collector,Wizard,260,257,0,517,0.502901,0.001437
264,Tornado,Hog Rider,Knight,The Log,Fireball,Giant Skeleton,Wizard,Skeleton Army,138,191,0,329,0.419453,0.000914

In [9]:
print("There are {} decks with {} in them.".format(len(result), card_name_to_search))

There are 2 decks with wizard in them.

In [10]:
print("Here are the top 5 decks with the highest win rate for {}:".format(card_name_to_search))
top_5_results = result.sort_values(by='Win Rate', ascending=False).head(5)
top_5_results

Here are the top 5 decks with the highest win rate:

,Card_1,Card_2,Card_3,Card_4,Card_5,Card_6,Card_7,Card_8,Wins,Losses,Ties,Usage,Win Rate,Usage Rate
183,Giant,Rage,Mini P.E.K.K.A,Dark Prince,Sparky,Minion Horde,Elixir Collector,Wizard,260,257,0,517,0.502901,0.001437
264,Tornado,Hog Rider,Knight,The Log,Fireball,Giant Skeleton,Wizard,Skeleton Army,138,191,0,329,0.419453,0.000914